serve/node_modules
serve/test
serve/frontend
frontend/*
app/node_modules
serve/.pnp
.pnp.js

# testing
serve/coverage

# next.js
/.next/
/out/

# production
serve/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
//.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
frontend
serve/frontend
